body {
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background: url("../img/cover.png") fixed;
    background-size: cover;
}

input[type = email],
input[type = text],
input[type = number],
input[type = password] { /* Firefox, Chrome, Opera */
    font-weight: bold;
}

input[type = email]::placeholder,
input[type = text]::placeholder,
input[type = number]::placeholder,
input[type = password]::placeholder { /* Firefox, Chrome, Opera */
    color: lightsteelblue;
}

input[type = email]:focus,
input[type = text]:focus,
input[type = number]:focus,
input[type = password]:focus {
    border: 1px solid #ffffff !important;
    box-shadow: 0 0 3px #ffffff !important;
    -moz-box-shadow: 0 0 3px #ffffff !important;
    -webkit-box-shadow: 0 0 3px #ffffff !important;
}

.proteina-container,
.carbohidrato-container,
.grasa-container,
.lacteo-container,
.fruta-container {
    margin: auto;
    display: table;
    clear: both;
}

.proteina-box,
.carbohidrato-box,
.grasa-box,
.lacteo-box,
.fruta-box {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    margin: 10px;
}

.proteina-box img,
.carbohidrato-box img,
.grasa-box img,
.lacteo-box img,
.fruta-box img {
    display: block;
    width: 100%;
    padding: 5px;
}

.proteina-box:hover,
.carbohidrato-box:hover,
.grasa-box:hover,
.lacteo-box:hover,
.fruta-box:hover {
    font-size: 14px;
    padding: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.wf-column {
    float: left;
}

@media screen and (min-width: 768px){
    .proteina-container,
    .carbohidrato-container,
    .grasa-container,
    .lacteo-container,
    .fruta-container {
        width: 705px;
    }
}

@media screen and (min-width: 992px){
    .proteina-container,
    .carbohidrato-container,
    .grasa-container,
    .lacteo-container,
    .fruta-container {
        width: 945px;
    }
}

@media screen and (min-width: 1200px){
    .proteina-container,
    .carbohidrato-container,
    .grasa-container,
    .lacteo-container,
    .fruta-container {
        width: 1125px;
    }
}

.proteina-box input[type = checkbox],
.carbohidrato-box input[type = checkbox],
.grasa-box input[type = checkbox],
.lacteo-box input[type = checkbox],
.fruta-box input[type = checkbox] {
    display: none;
}

.proteina-box input[type = checkbox] + label, img,
.carbohidrato-box input[type = checkbox] + label, img,
.grasa-box input[type = checkbox] + label, img,
.lacteo-box input[type = checkbox] + label, img,
.fruta-box input[type = checkbox] + label, img {
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.cambio {
    border: 1px solid #ffffff !important;
    box-shadow: 0 0 3px #f0f4ff !important;
    -moz-box-shadow: 0 0 3px #ffffff !important;
    -webkit-box-shadow: 0 0 3px #ffffff !important;
    transition: all 0.3s ease-in-out;
}